.homeWrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.cardsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 24px;
  overflow: hidden;
  padding: 0 24px;
}