<div class="legend-container">
  <div class="legend-card">
    <strong>Máscara</strong>
    <div class="legend-content">
      <div class="legend-icon">
        <img src="/assets/images/png/required-mask.png" alt="Ícone de máscara obrigatório">
        <span>Obrigatório</span>
      </div>
      <div class="legend-icon">
        <img src="/assets/images/png/recommended-mask.png" alt="Ícone de máscara recomendado">
        <span>Recomendado</span>
      </div>
    </div>
  </div>

  <div class="legend-card">
    <strong>Toalha</strong>
    <div class="legend-content">
      <div class="legend-icon">
        <img src="/assets/images/png/required-towel.png" alt="Ícone de toalha obrigatório">
        <span>Obrigatório</span>
      </div>
      <div class="legend-icon">
        <img src="/assets/images/png/recommended-towel.png" alt="Ícone de toalha recomendado">
        <span>Recomendado</span>
      </div>
    </div>
  </div>

  <div class="legend-card">
    <strong>Bebedouro</strong>
    <div class="legend-content">
      <div class="legend-icon">
        <img src="/assets/images/png/partial-fountain.png" alt="Ícone de bebedouro parcial">
        <span>Parcial</span>
      </div>
      <div class="legend-icon">
        <img src="/assets/images/png/forbidden-fountain.png" alt="Ícone de bebedouro proibido">
        <span>Proibido</span>
      </div>
    </div>
  </div>

  <div class="legend-card">
    <strong>Vestiários</strong>
    <div class="legend-content">
      <div class="legend-icon">
        <img src="/assets/images/png/required-lockerroom.png" alt="Ícone de vestiário liberado">
        <span>Liberado</span>
      </div>
      <div class="legend-icon">
        <img src="/assets/images/png/partial-lockerroom.png" alt="Ícone de vestiário parcial">
        <span>Parcial</span>
      </div>
      <div class="legend-icon">
        <img src="/assets/images/png/forbidden-lockerroom.png" alt="Ícone de vestiário fechado">
        <span>Fechado</span>
      </div>
    </div>
  </div>
</div>