.list-container {
  width: 100%;
  display: grid;
  gap: 1rem;

  .unit-card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);

    .open {
      color: var(--green);
      font-weight: 700;
    }

    .closed {
      color: var(--red);
      font-weight: 700;
    }

    h3 {
      font-size: 1.625rem;
    }

    p {
      font-weight: 300;
    }

    .legend-icons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      place-items: center;
      padding: 1.25rem 0;
      border-top: 1px solid lightgray;

      img {
        width: 4rem;
      }
    }

    .periods-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .period-day {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-bottom: 1rem;

        strong {
          font-size: 1.5rem;
        }

        span {
          font-size: 1rem;
        }
      }
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}