<div class="list-container">
  <div class="unit-card">
    <span class="open">Aberto</span>
    <h3>Vicente Linhares</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque tenetur repellendus rerum maxime quos.
    </p>
    <div class="legend-icons">
      <img src="/assets/images/png/required-mask.png" alt="Ícone de máscara obrigatório">
      <img src="/assets/images/png/required-towel.png" alt="Ícone de toalha obrigatório">
      <img src="/assets/images/png/partial-fountain.png" alt="Ícone de bebedouro parcial">
      <img src="/assets/images/png/forbidden-lockerroom.png" alt="Ícone de vestiário fechado">
    </div>
    <div class="periods-container">
      <div class="period-day">
        <strong>Seg. à Sex.</strong>
        <span>06h ás 22h</span>
      </div>

      <div class="period-day">
        <strong>Sáb.</strong>
        <span>09h ás 18h</span>
      </div>

      <div class="period-day">
        <strong>Dom.</strong>
        <span>Fechado</span>
      </div>
    </div>
  </div>
  <div class="unit-card">
    <span class="closed">Fechado</span>
    <h3>Vicente Linhares</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque tenetur repellendus rerum maxime quos.
    </p>
  </div>
  <div class="unit-card">
    <span class="closed">Fechado</span>
    <h3>Vicente Linhares</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cumque tenetur repellendus rerum maxime quos.
    </p>
  </div>
</div>