.btnWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 24px;
}

.btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ebebeb;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (min-width: 991px) {
  .btnWrapper {
    display: none;
  }
}